{{>header}}
<div class="container-fluid py-4">
    <h2>PRODUCTOS</h2>
    <div class="col-md-12">
        <div class="row">
            {{#each producto}}
            <div class="py-3">
                <div class="card mr-sm-4" style="width: 16rem;">
                    <img class="img-fluid" src="{{imagen}}">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <h6>${{precio}}.00</h6>
                        <a href="#" class="btn btn-primary carrito" data-toggle="modal" data-target="#exampleModal"><i
                                class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{>modals}}
{{>suscribirse}}
{{>footer}}
