{{>header}}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-2">
                <div class="card-body">
                    <div class="card-tittle">
                        <h1>Nuestros valores</h1>
                    </div>
                    <p style="text-align: justify;">
                        En nuestro empresa incluimos términos como Compromiso, Seriedad, Calidad, Honestidad,
                        Integridad, Confianza y mucha pasión por lo que hacemos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{>suscribirse}}
{{>footer}}