{{>header}}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-2">
                <div class="card-body">
                    <div class="card-tittle">
                        <h1>Visión</h1>
                    </div>
                    <p style="text-align: justify;">
                        Ser una empresa reconocida a nivel internacional por la calidad de sus productos, sus diseños
                        únicos y por ser líder en ventas a nivel mundial.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{>suscribirse}}
{{>footer}}