<footer class="footer_part fondo-footer">
       <div class="col-md-4 offset-md-5">
        <P class="color-footer">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> RelojeriaSwatch</P>
        </div>
    </footer>