<nav class="navbar navbar-expand-lg navbar-light fixed-top fondo-navbar">
    <a class="navbar-brand" > <label class="color-letra">Relojeria</label><label class="color-letra-logo">Swatch</label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     
     <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a href="" class="nav-link">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Buscar..">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
                  </form>
            </a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link" href="/">INICIO</a>
            </li>
                      
            
            
            <li class="nav-item py-2">
                <a class="nav-link" href="/contacto">CONTACTO</a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link" href="/registrarse">REGISTRARSE</a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link" href="/inicio/sesion">INICIAR SESIÓN</a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link cart" href="#" data-toggle="modal" data-target="#exampleModal">
                    
                            <i class="fas fa-cart-plus"></i>[0]
                           
                        
                </a>
            </li>
        </ul>
    </div>
</nav>