 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 id="exampleModalLabel" class="offset-md-4">Inicia sesión ahora</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12 offset-md-2">
                                            <div class="login_part_form">
                                                <div class="login_part_form_iner">
                                                    <form class="row contact_form"
                                                        action="/auth" method="post">
                                                        <div class="col-md-12 form-group p_star">
                                                            <label for="correo">Escriba su correo electronico</label>
                                                            <input type="email" class="form-control" id="correo"
                                                                name="correo" value="" placeholder="example@gmail.com">
                                                        </div>
                                                        <div class="col-md-12 form-group p_star">
                                                            <label for="password">Escriba su contraseña</label>
                                                            <input type="password" class="form-control" id="passwd"
                                                                name="passwd" value="" placeholder="Contraseña">
                                                        </div>
                                                        <div class="col-md-12 form-group">
                                                            <button type="submit" name="submit" value="submit"
                                                                class="btn_3">INICIAR SESIÓN
                                                            </button> <br>
                                                            <a class="lost_pass" href="#">¿Contraseña Olvidada?</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>