<br>
<br>
<hr>
<section class="our_offer section_padding">    
        <div class="container">
        <form action="/suscribirse" method="post" autocomplete="off">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="offer_img">
                        <img src="../logo/logo.png" alt="logo de la empresa" width="600px" width="350px">
                    </div>
                </div>                
                <div class="col-lg-6 col-md-6">
                    <div class="offer_text">
                        <h2 class="color-suscripcion" style="font-size: 25px;">SUSCRIBIRSE PARA RECIBIR OFERTAS</h2>
                        <div class="input-group">
                            <input type="email" class="form-control" name="correo" placeholder="example@gmail.com"
                                >
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text btn_2" id="basic-addon2">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>    
    </section>
    <br>